body {
    font-family: "Trirong", serif;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

.banner-container {
    background-color:#199CD8;
    height: 100vh; 
}
.banner-column{
    background-color: rgb(17, 16, 15);
    margin: 0 auto;
    justify-content: center;
}